<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scnu.mapper.Book2Mapper">
    <select id="showbook" resultType="cn.edu.scnu.entity.Tbbook">
        select *
        from tbbook
    </select>
    <insert id="insertBook" parameterType="Tbbook" keyProperty="id"  useGeneratedKeys="true">
        insert into tbbook(title, author, press, price)
        values (#{title}, #{author}, #{press}, #{price})
    </insert>

    <update id="updateBook" parameterType="Tbbook">
        update tbbook
        <set>
            <if test="title !=null and title !=''">title=#{title},</if>
           <if test="author !=null and author !=''">author=#{author},</if>
           <if test="press !=null and press !=''">press=#{press},</if>
            <if test="price !=null and price !=''">price=#{price}</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteBook" parameterType="Integer">
        delete
        from tbbook
        where id = #{id}
    </delete>

    <select id="showComment" parameterType="Integer" resultMap="bookWithComment">
        select b.*, c.id c_id, c.content c_content, c.c_author, c.book_id bookid
        from tbbook b,
             comment c
        where b.id = c.book_id
          and b.id = #{id}
    </select>

    <select id="searchBook" parameterType="map" resultType="Tbbook">
        select * from tbbook where price between #{minPrice} and #{maxPrice}
        <if test="title !=null and title!=''">
            and title like concat('%',#{title},'%')
        </if>
        <if test="author !=null and author!=''">
            and author like concat('%',#{author},'%')
        </if>
        <if test="press !=null and press!=''">
            and press like concat('%',#{press},'%')
        </if>
    </select>

    <resultMap id="bookWithComment" type="Tbbook">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="press" column="press"/>
        <result property="price" column="price"/>
        <collection property="commentList" ofType="Comment">
            <id property="id" column="c_id"/>
            <result property="content" column="c_content"/>
            <result property="cAuthor" column="c_author"/>
            <result property="bookId" column="bookid"/>
        </collection>
    </resultMap>
</mapper>